/*
Awesome Facebook
by siliconic
for facebook.com
ver 1.1.0.4 (2014-06-20)

find more styles + updates + give me some feedback @
userstyles.org/users/258518
stylebot.me/users/siliconic
github.com/siliconic
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}


#fbNotificationsFlyout li .fwb {
    /* #blueBar notifications - names of actors/pages */
    font-size: .92em;
}

body.SettingsPage #globalContainer {
    min-width: inherit;
    width: 100%;
}

#pagelet_composer ._4-u2 {
    padding: inherit;
}

#rightCol ._5v6e .pagelet .uiHeader {
    padding-top: 1em;
}

#rightCol .uiHeaderSection, #rightCol .uiSideHeader, #rightCol ._2w2d {
    border-color: rgb(213,215,219);
    /* news feed rightCol section dividers */
}

#userNavigation
{
    font-size: .75rem;
}

*._5vsj .UFIRow
{
    margin: 0 1em;
    padding: .3333em 0;
}

*._5vsj .UFIRow.UFIPagerRow, *._5vsj .UFIRow.UFILikeSentence, *._5vsj .UFIRow.UFIShareRow
{
    padding-bottom: .5833em;
    padding-top: .75em;
}

.UFIComment .UFICommentActorName
{
    display: block;
    font-size: .625rem;
    margin-bottom: .1667em;
    font-weight:normal;
    opacity:.8;
    cursor:default;
}
.UFIComment:hover .UFICommentActorName
{
    opacity:1;
}
.UFICommentActorName:hover
{
    text-decoration:none;
}

.UFIComment .UFICommentBody {
    opacity:.8125;
}

.UFIRow {
    padding: .3333em;
}

.UFIRow .UFICommentActions {
    padding-top: .25em;
}

.UFIRow .UFIImageBlockContent {
    padding: 0 0 0 .6667em;
}

.UFIRow .fsm.UFICommentActions {
    font-size: .625em;
}

.uiSideNav .buttonWrap {
    /* #leftCol nav group link gear button wrapper */
    height: 1.6667em;
    width: 1.6667em;
}

.uiNarrowSideNav .uiSideNav .buttonWrap {
    margin-right: -0.1667em;
}

.uiSideNav .item,
.uiSideNav .subitem {
    padding: .25em .6667em 0 2.3333em;
}

.uiSideNav .item .imgWrap {
    width: 1.5em;
}

.uiSideNav .sideNavItem .imgWrap {
    margin-left: -1.8333em;
}

.uiSideNav .sideNavItem .uiSideNavEditButton {
    margin: .1667em .4167em 0 0;
}

._29k {
    vertical-align:bottom;
    min-height:4em;
    height:auto; /* 3.3333em */
    padding-bottom:.4em;
    margin-bottom:0;
    width:auto;
    max-width:100%;
    display:flex;
    flex-direction:row-reverse;
  }

._29k ._6a._6b:nth-of-type(2) {
    min-height:3.333em;
    height:auto;
    box-sizing:border-box;
}
        
._2jq5 {
    /* #leftCol nav group link badge (i.e. # of unread ___s) */
    height: 1.8333em;
    width: 1.75em;
}


._303 {
    margin-left:0;
}

._3479 #sideNav #pinnedNav {
    /* #leftCol nav group container */
    margin-top: 1em;
}

._3479 ._2jq5 {
    /* #leftCol nav group link badge ( # of unread __s) */
    height: 2em;
}

._3479 .uiSideNav .item {
    height: 2em;
    line-height: 2em;
}

._4-k1 {
    vertical-align: baseline;
}

._4-u2 {
    border-radius: .4em;
    /* asthetic adjustment due to increased border-radius */
    padding: .9em;
}

._4-u2._5v6e {
    background: inherit;
    color:inherit;
    border: none;
    /* rightColumnWrapper (i.e. right-hand ads column) */
    opacity: .9;
}

._4r_y {
    margin-top: -1em;
}

._53iq ._5xia {
    margin-top: 0;
}

._53ir {
    /* news topic featured article/link container */
    margin: .6667em 0 .25em;
}
  
._54bx {
    /* news feed infobox: "similar to ___" */
    width: 40em;
}

._54bx ._54b- {
    display: flex;
    float: none;
    width: auto;
}

._54bx ._54b- .ego_unit {
    align-self: stretch;
    width: 25%;
}

._54ru {
    /* Comment rows - actor image */
    border-radius: 1.3333em;
    height: 2.6667em;
    width: 2.6667em;
}

._585- {
    /* #blueBar search box */
    background-color: inherit;
    box-shadow: none;
    font-size:1.6rem;
}

._585_ {
    /* #blueBar search box magnifying glass glyph
    -webkit-filter: invert(1) brightness(1.6);
    */
    visibility: hidden;
}

._5861 .DOMControl_placeholder, ._5861 ._586j, ._5861 ._586h {
    /* #blueBar search box
    586h = autocompleted/predicted text following user-typed text
    586j = default/placeholder text ("Search for...") */
    color: #ccd5e8;
}

._5861 ._586j {
    /* #blueBar search placeholder text ("Search for...") */
    opacity: .6;
}

._5861 ._586f,
._5861 ._586i {
    /* ._586i = #blueBar search text - user input or selected page/profile */
    color: #fff;
}

._59ap ._6m3 {
    margin: .9231em 1em;
    max-height: none;
}

._59ap ._59tj {
    padding-top: .75em;
}

._5cwb ._59tj {
    /* news topic byline */
    padding-top: .75em;
    position: relative;
}

._5cwb._6m4 ._59tj
{
    /* remove top margin */
    margin-top: 0;
}

._5h55 ._1ui7 {
    /* news feed - infobox - "Related" stories - text summary/snippet */
    opacity: .64;
}

._5my7 {
    margin-top: -.3333em;
    padding-bottom: .3333em;
}

._5p3y {
    font-size:inherit;
    /* PAGE FONT SIZE (overrides px based defn) */
  }
  
._5p3y #rightCol {
    /* 13px -> 12px */
    font-size: 1em;
}

._5p3y #rightCol button, ._5p3y #rightCol ._4jy0 {
    /*
    button = "like" buttons in news feed ads column
    ._4jy0 = "play now" button
    */
    background: inherit;
}

#fbNotificationFlyout {
    font-size:.8rem;
}



._5p3y ._5pbw {
    /* news feed item ActorName */
    /* trialed a smaller font-size (.92em, then .875em) */

}

._5p3y ._5pbw.mbs {
    /* news feed ActorName(s) action statement */
}

._5p3y ._5pbx {
    /* news feed item - original actor's comment text */
    /* margin was 1em 1px 0 */
    font-size: 1.25rem;
    font-family:'Liberation Sans', Helvetica, 'Open Sans', sans-serif;
    margin:.5em auto 0;
    line-height:1.5em !important;
}

._5p3y ._5pbx p + p {
    margin-top: 1em !important;
}

._5p3y ._5pbx>p:last-of-type {
    display: block;
}

._5pcp._5vsi {
    font-size:.8rem;
}



    
._5p3y ._5vwg {
    /* news feed sponsored ad col - title + url text */
    font-size: 1em;
    line-height: 1.3333em;
}

._5p3y ._5vwj ._5vwk {
    font-size: 1em;
    line-height: 1rem;
}

._5p3y ._uhk {
    /* news feed right col - trending item - text snippet */
    line-height: 1.25em;
}

._5p3y .commentable_item .comment_link {
    vertical-align: bottom;
}

._5p3y label, ._5p3y input {
    font-size: inherit !important;
}

._5pat ._5sq7 {
    height: 3.333em;
    width: 3.333em;
}

._5pbw {
    margin-bottom: .1429em;
    padding-right: 1.5714em;
}

._5pcp {
    font-size:.875em;
}
._5plv .uiNarrowSideNav .uiSideNav .sideNavItem {
    margin-left: -.3333em;
}

._5plv .uiSideNav .item {
    border-radius: .1667em;
    padding-left: 2.3333em;
    padding-right: .3333em;
}

._5plv .uiSideNav .sideNavItem {
    /* #leftCol nav group list item */
    margin-left: -0.3333em;
}

._5plv .uiSideNav .sideNavItem .imgWrap img {
    height:1.3333em;
    width:1.3333em;
}

._5plv .uiSideNav .sideNavItem .linkWrap {
    padding-right: .4167em;
  
}

._5plv .uiSideNav .sideNavItem .linkWrap {
    max-width:12em;
}
  

._5plv .uiSideNav .sideNavItem .uiSideNavEditButton {
    margin-top: .25em;
}

._5qrt ._5vwe {
    padding-top: .5em;
}

._5qrt .ego_section .ego_unit:first-child, ._5qrt.egoOrganicColumn .ego_section .ego_unit:first-child {
    /* sponsored ad - first ad */
    padding-top: 0.8333em;
}

._5qrt .ego_unit_container {
    /* news feed ads column */
    line-height: 1.3333em;
}

._5r-_ #rightCol .ego_column .ego_section .uiSideHeader {
    padding-bottom: 0;
}

._5r-_ ._5my2 {
    /* news feed right col - trending items */
    margin-left: -0.3333em;
    padding: .25em .3333em;

}

._5r-_ ._5my2._5my9
{
    background:rgba(0,0,0,.125);
}

._5r-_ .fbReminders .fbRemindersStory {
    margin: 0 -.3333em;
    padding: .3333em;
}

._5r-_.homeWiderContent div#rightCol ._5v6d #pagelet_reminders .fbReminders {
    /* news feed ads column - top row (birthdays, notifications, e.g.) */
    margin: -.3333em 0;
}

._5r-z {
    /* news feed right col - trending item icon */
    margin-right: 0.4167em;
}

._5rzs .uiHeader, #rightCol ._5rzs .uiHeader.uiSideHeader {
    /* news feed ads column - section header */
    padding-bottom: 0.8333em;
}

._5rzs .uiHeaderTop .uiHeaderTitle, ._5rzs .uiHeader.uiSideHeader, ._5rzs .uiHeader.uiSideHeader a, ._5rzs .uiHeader.uiSideHeader h6, #rightCol ._5rzs .uiHeader.uiSideHeader .adsCategoryTitleLink, ._2w2e {
    /*
    ._2w2e = "Trending" header
    everything else = news feed right col headers
    */
    /*was .9167em but was cascading. true relative solution requires more tinkering.*/
    font-size: .75rem;
    line-height: 1em;
}

._5rzs._5v6d ._5v6e {
    /* news feed ads column */
    padding: 1em;
}

._5sq7, ._5v9u:after, ._rw {
    border-radius: 1.6em;
}

._5v3q {
    padding: 1rem !important;
}

._5v3q ._4-eo {
    margin:auto;
}
._5v3q ._4-eo img {
    border-radius:.4em;
}
    
._5v3q ._5pbx p {
    margin: .5em 0;
}

._5v3q ._5x46 {
    /* fb default = 11px @ 13px font */
    margin-bottom: 0; /* .8431 */
}

._5v3q .fbStoryAttachmentImage {
    /* news feed image */
    border-radius: .4em;
}

._5v6e #pagelet_reminders .egoOrganicColumn {
    /* news feed ads column - top row (birthdays, notifications, e.g.) */
    padding: 1em 0;
}

._5v9k .UFIImageBlockImage:after {
    border-radius: 1.3333em;
}

._5vb_ #blueBarHolder #blueBar #pageHead {
    padding: 0 .5em;
    min-width: 960px;
    width: 60%;
    margin: 0 auto;
}

._5vb_ #pagelet_pinned_nav .sideNavItem ._26tg,
._5vb_ #pagelet_bookmark_nav .sideNavItem ._26tg {
    margin-top: .25em;
    height: 1em;
    width: 1em;
}

._5vb_ ._5qrt .ego_section .ego_unit {
    /* news feed right col - sponsored ad unit */
    padding: 1em 0;
}

._5vb_ ._dcs {
    /* container for news feed image + headline + lede */
    border-radius: .4em;
}

._5vb_ ._dcs .__c_, ._5vb_ ._6l- {
    /* container of news feed images */
    background-color: inherit;
}

._5vb_ .home_right_column .fbRemindersThickline {
    /* news feed ads column - top row (birthdays, notifications, e.g.) */
    margin: 0 -1em;
}

._5vb_.hasLeftCol #leftCol {
    /* 13.6667 @ 12px, 12.6154em @ 13px */
    /*._5plv._3479, ._42ef*/
    opacity: .87;
    padding-left: .6667em;
    padding-top: 2.6rem;
    width: 20rem;
}

._5vb_.hasLeftCol ._5r-_ div#rightCol {
    padding-right: 0.5833em;
}

._5vsi {
    font-size: .8em;
    margin-left: .6em;
    margin-top: .8333em;
    opacity: .8;
}

._5vsi .UFIBlingBox {
    margin-bottom: -.1667em;
    margin-right: -.3333em;
    margin-top: -.4166em;
    padding: .4166em .3333em .1667em;
}

._5vsi .UFIBlingBoxCommentIcon {
    margin-right: .3333em;
    width: 1em;
}

._5vsi .UFIBlingBoxLikeIcon {
    margin-right: .25em;
    width: 1.0833em;
}

._5vsi .UFIBlingBoxReshareIcon {
    margin-right: .4167em;
}

._5vsi .UFIBlingBoxSprite {
    height: 1.25em;
}

._5vsj .UFIAddComment {
    padding-top: .1667em;
}

._5vsj .UFIAddComment+.UFIComment.UFIFirstCommentComponent, ._5vsj .UFILastComment+.UFIAddComment {
    padding-top: .3333em;
}

._5vsj .UFIAddComment.UFIFirstComponent {
    padding-top: .6667em;
}

._5vsj .UFIComment.UFIFirstCommentComponent {
    padding-top: .6667em;
}

._5vsj .UFILikeSentence .UFIImageBlockContent {
    padding-left: .4167em;
}

._5vsj .UFIPagerRow .UFIImageBlockContent {
    padding-left: .5em;
}

._5vsj .UFIPagerRow+.UFIComment, ._5vsj .UFIPagerRow+.UFIAddComment {
    padding-top: 0;
}

._5vsj .UFIRow.UFIFirstComponent {
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

._5vsj .UFIRow.UFILastComponent {
    padding-bottom: .6667em;
}

._5vsj .UFIShareRow .UFIImageBlockContent {
    padding-left: .3333em;
}

._5vsj._5vsj._5vsj {
    /* margin: .6667em -1em -1em; */
    margin:.6667em -1em -1em;
}

._5vw4 .img {
    /* right-hand ads column - ad image */
    border-radius: .4em;
}

._6a._6b {
    height:auto !important;
}

._6l- {
    /* container for news feed image */
    border-radius: .4em;
    overflow: hidden;
}

._6l-:after {
    /* container for news feed image - border declaration */
    border-radius: .4em;
    overflow: hidden;
}

._6m3 {
    /* news feed item attachment - text container */
    font-size: .75em;
    height: auto;
    margin: 0 1em;
    padding: .8333em 0;
}

._6m5 {
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
    max-width:100% !important;
}

._6m6, ._6m6._6m6._6m6._6m6 {
    /* news feed item attachment - title */
    font-size: 1.4rem;
	font-weight: 400 !important;
    line-height: 1.125em;
    margin-bottom: .3571em;
    max-height: 6.1111em;
}

._6m7, ._6m7._6m7._6m7._6m7 {
    /* news feed attachment item - lede (below headline) */
    /* max-height is 1em less than fb's default, so to accomodate the larger font size */
    line-height: 1.3333em;
    max-height: 6.6667em;
    opacity: .64;
    font-size:.875em;
}

._6ma ._6mb {
    line-height: 1em;
}

._8s {
    margin-right: .6667em;
}

._la {
    /* news feed - "related" content block */
    padding: 0;
}

.displayedTickerToggleWrapper .tickerLineToggle {
    background-color: inherit;
}

.fbStreamPrivacy .lock {
    /*fixes alignment of content's privacy indicator */
    margin-bottom: 0;
    vertical-align: baseline;
}

.fbxWelcomeBoxBlock .fbxWelcomeBoxImg {
    border-radius: .25em;
    height: 3.3333em !important;
    width: 3.3333em !important;
}

body:not(.SettingsPage) .hasLeftCol #headerArea {
    margin: 0 auto;
    order: -1;
}

.hasLeftCol ._5r-_.homeWiderContent div#contentArea {
    /* Topic container */
    align-self: stretch;
    margin: 0 auto;
    width: auto;
    max-width:76rem;
    display:flex;
    flex-direction:column;
}

.hasLeftCol ._5r-_.homeWiderContent div#rightCol {
  box-sizing:border-box;
        
}

.homeFixedLayout div#contentArea {
    padding-bottom: 1.6667em;
}
  
.listMemberFacepile {
    border-radius: .4em;
    overflow: hidden;
}

.litestandClassicWelcomeBox .fbxWelcomeBoxBlock:after {
    /* left-hand column - user profile photo anchor tag (hyperlink) */
    border-radius: .25em;
}

.mbm {
    margin-bottom: .8333em;
}

.mbs {
    margin-bottom: .3571em;
}

.mls {
    margin-left: .4167em;
}

.mtm {
    margin-top: .8333em;
}

.mts {
    margin-top: .4167em;
}

.prs {
    /* container for #leftCol current user info */
    padding-right: .4167em;
}

.prs > ._6a._6b:first-child {
    height: 3.3333em !important;
}

.sx_d52e6e {
    margin-top: .1429em;
}

.UFILikeSentence,
.UFIShareRow {
    font-size:.75rem;
}
  
@media only screen and (min-width: 1340px) {
  body.timelineLayout #contentArea {    
    width: auto;    
    margin: 0 auto;
  }
  body.timelineLayout #rightCol {    
    width: 0;    
    right: 244px;    
    margin: 0;    
    position: relative;
  }
}

body.UIPage_LoggedOut ._4-u2 {
    padding: 0;
}

div._5t_y {
    margin: 0;
}

html body {
    font-size:1em;
}
html body.home #contentArea {
    order: -1;
}

html body.home #contentCol {
    display: flex;
}

html body.home #contentCol > div:first-of-type:last-of-type {
    display: flex;
}

html body.home #contentCol #headerArea {
    margin: 0 auto;
    order: -2;
}

html body.home #contentCol #headerArea:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

html body.timelineLayout #contentCol {
    margin: 0 auto;
}

html ._5vb_.hasLeftCol #contentCol {
    min-height: 50em;
    padding-left: .9167em;
    padding-top: 1em;
}

html ._5vb_._5vb_.hasLeftCol div#contentArea {
    padding-right: .8333em;
}

html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
    /* News Feed container */
    float: none;
    margin: 0;
    width: auto;
    min-width:50%;
    box-sizing:border-box;
    display:flex;
}

html ._5pcb > div div {
    display:inline-flex;
    flex-wrap: wrap;
}
html ._5pcb > div div._4-u2 {
    max-width:33%;
    min-width:25%;
    box-sizing:border-box;
    background:transparent;
    display:inline-block;
    width:auto !important;
}
html ._5pcb > div div._4-u2 div {
    display:block;
}

@media only screen and (max-width: 1034px) {
  html, body {
    width: 1034px;
  }
}

._5p3y[dir="ltr"], ._5p3y[dir="ltr"] button, ._5p3y[dir="ltr"] input, ._5p3y[dir="ltr"] label, ._5p3y[dir="ltr"] select, ._5p3y[dir="ltr"] td, ._5p3y[dir="ltr"] textarea, ._5p3y[dir="ltr"] .uiMentionsInput .highlighter, ._5p3y[dir="ltr"] .uiButtonText, ._5p3y[dir="ltr"] .uiButton input, ._5p3y[dir="ltr"] .uiLinkButton input, ._5p3y[dir="ltr"] button.as_link, ._5p3y[dir="ltr"] .fbChatSidebar, ._5p3y[dir="ltr"] .fbDock, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._5p3y[dir="ltr"] .tickerDialogContent .uiStream .uiStreamMessage, ._5p3y[dir="ltr"] .tickerDialogContent .uiStream .text_exposed_link, ._5p3y[dir="ltr"] .uiTooltipX .tooltipContent, ._5p3y[dir="ltr"] a[role="button"], ._5p3y[dir="rtl"] *[dir="ltr"]
{
    font-family: 'Open Sans', 'Liberation Sans', 'Open Sans', Helvetica, sans-serif; /* native Linux font is superior. */
}
  ._5p3y textarea.mentionsTextarea
{
    font-family:'Liberation Sans','Open Sans',Helvetica,sans-serif;
}

._5pbw, ._5pbx {
    line-height: 1.44em !important;
}

._5p3y .fsm, ._5p3y .uiHeader h3, ._5p3y h4, ._5p3y h5, ._5p3y h6, ._5p3y .UFICommentContent ._5v47 {
    font-size: 1em;
}

/* BEGIN notifications flyout */

.notifNegativeBase .fbJewelFlyout .jewelHeader, #tinymanNavWrapper .fbJewelFlyout .jewelHeader
{
    padding: .6667em .6667em .5em .6667em;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

._5p3y #fbNotificationsFlyout ._50-t > div {
    height: 40.6667em !important;
    width: 35.8667em !important;
}

._5p3y #fbNotificationsFlyout ._50-t .uiScrollableAreaBody {
    width: 35.8667em !important;
}

._5p3y ._5pbw {
    font-size:1em;
}
._5bfg #jewelContainer .fbJewelFlyout, ._5bfg #accountSettingsFlyout {
    width: 35.8667em;
}

._33e {
    padding: .5833em 2.25em .5833em .6667em;
}

._33f {
    padding-top:.25em;
}

._33h {
    border-radius:.4em;
}

._33i {
    margin: 1.3333em auto;
}

._10cu {
    height: 1.3333em;
    width: 1.3333em;
}

._8r {
    margin-right:.4167em;
}

.uiScrollableArea.nofade .uiScrollableAreaWrap,
.uiScrollableArea.fade .uiScrollableAreaWrap {
    margin-right: -2.5em;
    padding-right: 2.5em;
}

.fbJewelFlyout .jewelFooter a {
    padding: .6667em;
}

.notifNegativeBase .fbJewelFlyout .jewelFooter a {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.notifNegativeBase .fbJewelFlyout, #tinymanNavWrapper .fbJewelFlyout {
    border-radius: .25em;
    box-shadow: 0 .25em .6667em rgba(0, 0, 0, .25); 
}

/* END notifications flyout */              

._5v3q ._1qbu {
    font-size: 1rem !important;
    font-family:'Open Sans';
    margin:0 0 0 -.6rem;
    padding: 1.6rem 1em 0;
}

._5v3q ._5mxv {
    margin-top:0;
    padding:1.6rem 0 0 0;
}



._5861 ._586j, ._5861 ._586k, ._5861 ._586f, ._5861 ._586i {
    font-family: 'Liberation Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uiScaledImageContainer {
    width: 100% !important;
    height: auto !important;
}

.fbxWelcomeBoxName {
    width:auto;
}

body._5vb_ #globalContainer {
    width:auto;
    margin:0 auto;
}

span.UFICommentBody {
    font-family:'Liberated Serif', serif;
}

#stream_pagelet {
    display:inline;
}
#stream_pagelet > div:last-child {
    display:inline;
}
._4-u2 {
    display:inline-block;
}
.uiScaledImageContainer img {
    min-height:inherit;
}

._6b._6a:nth-of-type(2) {
    vertical-align:bottom;
    min-height:3.5rem;
}

._46-i.img {
    max-width:100%;
    height:auto;
}
._46-h {
    max-width:100% !important;
}
      
._5rzs._5v6d ._5v6e
{
    width:auto;
    max-width:100%;
}

.uiScaledImageContainer .scaledImageFitWidth
{
    width:100%;
    max-width:100%;
    height:auto;
}

._5v3q ._4-eo
{
    width:100% !important;
    max-width:100%;
}

div#rightCol div.rightColumnWrapper {
    position:relative;
    top:inherit;
    left:inherit;
    right:inherit;
    bottom:inherit;
    float:right;
}

label
{
    font-size: 1em;
}

div#pagelet_composer > ._4-u2 {
    width:100%;
    box-sizing:border-box;
}

._5t_y ._2yg .input, ._5t_y ._2yg .uiMentionsInput .highlighterContent
{
    font-size:1em;
}


/**********

	NEW CODE

*************************/


a._5pcq {
    display:inline-block;
}

._uhk
{
    max-height:3.75em;
  }
  
div#pagelet_rhc_footer.pagelet
  {
    font-size:.64rem;
  }

div._4ikz, div._4ikz > div {
    display:inline-flex;
}

div._5plv .navHeader, div._5plv .navHeader a
{
    font-size:1em;
}

ul.uiList
{
    width:100%;
}

._5bfg #pageNav .navLink, ._5bfg #pageNav .navItem .navLink
{
    font-size:inherit;
}
#pageNav._5bfj .tinyman .headerTinymanPhoto
{
    width:1.5rem !important;
    height:auto !important;
}
._5681, ._5681 *
{
    font-size:1rem !important;
    font-family:'Liberation Sans','Open Sans',Helvetica,sans-serif !important;
}
html ._5pcb > div div._4-u2._la
{
    width:100% !important;
    max-width:100% !important;
    min-width:100% !important;
}
._18s4 ._4_cj
{
    font-size:1em;
    font-weight:300;
}

div._46-h._4-ep {
    /* news feed photo post - image container */
    height:auto !important;
}

._46-i {
    position:relative;
    top:inherit;
    left:inherit;
}
html ._5pcb
{
    display:inline-flex;
    flex-direction:column;
    flex-wrap:wrap;
}
div._4ikz {
    display:inline !important;
}
